<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
  
      <div class="navigation">
      <a class="prev" (click)="left(selectedCarousel)" >&#10094;</a>
      <a class="next" (click)="right(selectedCarousel)" >&#10095;</a>
      </div>
  
     <img src="{{selectedCarousel.img}}" style="width:100%" alt="fail" >
     <!--<img src="{{selectedCarousel.img}}" alt = "acfnjfekf">-->
      <div class="text"></div>
    </div>
  </div>